*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	backgro Math', serif;und-color: #dbdbdb;
	yazı tipi ailesi: 'Oksijen', sans-serif;
font-family: 'STIX Two Math', serif;
}
#social{
	background-color: black;
	color: white;
	height: 75px;
	width: 1420px;
	position: sticky;
	top: 0;
z-index: 1;
font-size: 30px;
text-align: right;
padding: 15px;
}
font{
	float: left;

}
#social{
	margin-right: 15px;
}
#social{
	opacity: 0,8;
}
#container{
	width: 1200px;
	margin: auto;
	height: auto;
	
}
header{
	width: 100%;
	height:600px;
	box-shadow: 0 2px 8px 2px; rgba(20, 23, 28, .15)
border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
	font-family: 'Teko', sans-serif;
	background-color: black;
	margin-bottom: 10px;
}

#resim{
	width: 100%;
	height:600px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0.9;
} 
#centered{
	position: absolute;
	top: 50%;
	left: 37%;
	transform: translate( 35%, -100%);
	font-size: 60px;
	font-style: italic;
	color: #ffebcd;

}

section{
	width:100%;
	height: auto;
	background-color:#edffe6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 15px;
	overflow:auto;
	box-shadow: 0 2px 8px 2px; rgba(20, 23, 28, .15);

}
nav{

	width: 20%;
	float: left;
	margin-top: 10px;
	height: auto;
}
nav  ul{
	width: auto;
	height: 100%;
	margin:0;
	padding: 0;

}
nav  li{
	list-style-type: none;

}

nav  li  a{
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #b4b4b4;
	padding-left: 20px;
	display: block;


}

nav  li  a:hover{
	color: white;
	background-color: #adadad;
} 
main{
	float: left;
	height: auto;
	width: 80%;
	padding: 10px;
}
.icerik{
	width: 48%;
	height: auto;
	display: inline-block;
	margin-right: 15px;
	border-radius: 10px;
	box-shadow: 0 1px 4px 1px; rgba(20, 23, 28, .15)
	margin-bottom: 10px;
	


}
.rsm{
	width:100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: 0.8s;

}
.rsm:hover{
	opacity: 0.6;
}
h5{
	margin: 10px;
	color: dimgray;
}

.iceriktext{
	margin: 10px;
	color: dimgray;
}
.btnDevam{
	display: block;
	width: 150px;
	height: 45px;
	padding: 10px 20px;
	text-decoration: none;
	margin: 15px;
	background-color: #0071ce;
	border-radius: 10px;
}
.btnDevam.:hover{
	opacity: 0.9;
}
footer{
	
	width: 100%;
	height: 75px;
	background-color:black ;
	color: white;
	line-height: 75px;
	text-align:center ;
}
